/*stile generale */
header{
    
    text-align: center;
    background-color:#d2b48c;
    color: black;
    padding: 2%;
    margin: auto;
    
}

#titolo{
    font-size: 1.7em;
    
}

body{
    background-color:#fff8dc;
    margin: 0;
    height: 100%;
    text-align: center;
    font-family: 'Molengo', sans-serif;
    font-size:20px;
    color:black;
   
}

.container{
    display:table;
    width:90%;
    height:50%;
    min-width:90%;
    min-height:30%;
    margin: 2.6% auto;
    
}

.colrow{
    display:table-row;
    height:100%; 
        
}

.stylebox{
    border: solid;
    border-radius: 10px;
    text-align: center;
    background-color:#d2b48c; 
    
    padding-right:2% ;
    padding-left:2% ;
    padding-top:10px;
    padding-bottom:10px;
}


.boxlegenda{
    border: solid;
    border-radius: 10px;
    text-align: center;
    background-color:#d2b48c;

    width: 40%;
    padding-bottom: 20px;
    display: inline-block;

}

.TitoliInTestoLettera{
    font-family: 'Molengo', sans-serif;
}



/*InfoPrincipali*/

#InfoLettera{
    float: left;
    display:table-cell;
    width:45%;
    height:100%;
}
#collocazione{
    float: right;
    display:table-cell;
    width:45%;
    height:100%;
   
}


/*corpo*/

#imgLettera{
    
    float: left;
    display:table-cell;
    position: relative;
    height: 100%;
    width: 38%;
}

#testoLettera{
        
    float: right;
    display:table-cell;
    
    width: 45%;
    height: 100%;

    text-align: center;
    font-size: 1.2em;
    font-family: 'Charm', sans-serif;
   
}

#legendacolori{
    font-family: 'Molengo', sans-serif;
    font-size: 0.8em;

}



/*colori persone e luoghi*/
.place{
    background-color:  #33ff33 ;
    color: black;
}

.person{
    background-color: #ffd700;
    color: black;
}


/*visualizzo le immagini delle pagine*/
.folio{
    width: 100%;
}

.arealb:hover{
    background-color:rgba(255,255,0,0.3);
}


/*stile frecce*/
.freccia{
    background-size: 100%;
	background-repeat: no-repeat;
	width:40px;
	height:40px;
	
	z-index: 100;
	bottom: 60px;
	right: 1%;
	border-radius: 50%;
	border:0.5px solid black;
}


#frecciasu{
    background-image: url("su.png");
    display: none;
    position: fixed;
}


#frecciagiu{
    background-image: url("giu.png");
    position: fixed;
}


#frecciaindietro{
    background-image: url("indietro.png");
    cursor: pointer;

    position: relative;
    float: left;
    margin-top:28%;
    margin-left:2%;
 
}

#frecciaavanti{
    background-image: url("avanti.png");
    cursor: pointer;

    position: relative;
    float: left;
    margin-top:28%;
    margin-left: 2%;
    
}



/*InfoSecondarie*/
#legenda{
    float: left;
    display:table-cell;
    width:45%;
    height:100%;
    
}

#caratteristicheLettera{
    float: right;
    display:table-cell;
    width:45%;
    height:100%;
    
}


/*Footer*/
footer{
    margin-top: 2%;
    bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:#d2b48c;
    
    font-size: 0.8em;
    text-align: center;
    
    color: black;
    width: 100%;
    clear: both;
    
}

